<!-- вид - корзина -->

<h1>Корзина</h1>

<!-- таблица с заказами -->
<table class="table table-striped">
	<thead>
		<tr>
			<th>№</th>
			<th>Наименование</th>
			<th>Цена</th>
			<th>Количество</th>
			<th>Итого</th>
		</tr>
	</thead>
	<tbody>
		<% sum=0 %>
		<% $aa.each do |item| %>
			<tr>
				<th>
					<%= item[:n] %>
				</th>
				<td>
					<%= item[:name] %>
				</td>
				<td>
					<%= "%6.2f" % item[:price] %> грн.
				</td>
				<td>
					<%= item[:quantity] %>
				</td>
				<td>
					<%= "%6.2f" % item[:sumprice] %> грн.
				</td>
			</tr>
			<% sum += item[:sumprice] %>
		<% end %>
	</tbody>	
</table>

<strong>Общая сумма: <%= "%6.2f" % sum %> грн.</strong>
</br>
</br>
<!-- кнопки с описанием дальнейших действий -->
<a class="btn btn-primary" href="/" role="button">Вернуться</a>
<a class="btn btn-danger" href="/" role="button" onclick="remove_items_from_cart()">Очистить</a>
<a class="btn btn-success" href="/order" role="button">Заказать</a>