<!-- вид - корзина -->

<h1>Корзина</h1>

<!-- таблица с заказами -->
<table class="table table-striped">
	<thead>
		<tr>
			<th>№</th>
			<th>Наименование</th>
			<th>Цена</th>
			<th>Количество</th>
			<th>Итого</th>
		</tr>
	</thead>
	<tbody>
		<% $aa.each do |item| %>
			<tr>
				<th>
					<%= item[:n] %>
				</th>
				<td>
					<%= item[:product].title %>
				</td>
				<td>
					<% price=item[:product].price/100 %>
					<%= "%6.2f" %  price %> грн.
				</td>
				<td>
					<%= item[:quantity] %>
				</td>
				<td>
					<%= "%6.2f" % (price*item[:quantity]) %> грн.
				</td>
			</tr>
		<% end %>
	</tbody>	
</table>

<strong>Общая сумма: <%= "%6.2f" % $prodsum %> грн.</strong>
</br>
</br>

<!-- форма заказа -->

<h2>Введите ваши данные для заказа:</h2>
<form class="form-horizontal" method="POST" action="/order">

  <div class="form-group">
    <label for="ord_fio" class="col-sm-2 control-label">Ф.И.О.:</label>
    <div class="col-sm-10">
    	<input type="text" class="form-control" id="ord_fio" name="ord[name]" placeholder="Фамилия Имя Отчество" value=<%= @o.name%>>
    </div>
  </div>

  <div class="form-group">
    <label for="ord_tel" class="col-sm-2 control-label">Телефон:</label>
    <div class="col-sm-10">
    	<input type="text" class="form-control" id="ord_tel" name="ord[phone]" placeholder="+38(099)999-99-99" value=<%= @o.phone%>>
    </div>
  </div>

  <div class="form-group">
    <label for="ord_adr" class="col-sm-2 control-label">Адрес:</label>
    <div class="col-sm-10">
    	<input type="text" class="form-control" id="ord_adr" name="ord[addres]" placeholder="Адрес" value=<%= @o.addres%>>
    </div>
  </div>

  <div class="form-group">
  	<label for="ord_comm" class="col-sm-2 control-label">Комментарий:</label>
  	<div class="col-sm-10">
  		<textarea class="form-control" rows="3" id="ord_comm" name="ord[comment]"><%= @o.comment%></textarea>
  	</div>
  </div>

  <div class="col-sm-offset-2 col-sm-10">
  	<button type="submit" class="btn btn-success">Заказать</button>
  	<a class="btn btn-danger" href="/" role="button" onclick="remove_items_from_cart()">Очистить корзину</a>
  	<a class="btn btn-primary" href="/" role="button">Вернуться</a>
  </div>

</form>