<!-- вид - вывод асортимента магазина -->

<!-- Запуск плагина matchHeight выравнивающего высоту ячеек, в которых отображаются продукты -->
<script type="text/javascript">
  $(function(){
  		// плагин отрабатыввет для всех элементов класса caption
 		$('.caption').matchHeight();
  })
</script>

<h2>Добро пожаловать в SushiYaki!</h2>

<!-- счетчик продуктов -->
<% i=0 %>

<!-- выполняем пока счетчик продуктов меньше общего количества продуктов -->
<% while i<@prod.size %>

	<!-- формируем строку -->
	<div class="row">

		<!-- в строке четыре колонки -->
		<% 4.times do %>

			<div class="col-md-3">

				<!-- показываем изображение продукта, название, описание, количество с весом и цену -->
			    <div class="thumbnail">
			      <img src="<%= @prod[i].path_to_pict %>" alt="<%= @prod[i].title %>">
			      <div class="caption">
			        <h3><%= @prod[i].title %></h3>
			        <p><%= @prod[i].description %></p>
			        <p><%= @prod[i].quantity.to_i %> штук/<%= @prod[i].weight.to_i %> грам</p>

			        <!-- так как цена хранится в копейках, переводим ее в гривны и форматированно (с двумя знаками после запятой) -->
			        <!-- выводим ее на экран -->
			        <% price=@prod[i].price/100 %>
			        <p><b>Цена: <%= "%6.2f" % price.to_s %> грн.</b></p>
			      </div>
			      <button type="button" class="btn btn-success btn-block" onclick="add_to_cart('<%= @prod[i].id %>')">Добавить в корзину</button>
			    </div>

			</div>

			<% i+=1 %>

			<!-- если счетчик продуктов перевалил за количество продуктов - заканчиваем цикл вывода -->
			<% break if i>@prod.size %>
		<% end %>

	</div>

<% end %>