<!-- итоговая информация о заказе -->

<!-- удаление заказа из корзины - локального хранилища -->
<script type="text/javascript">
		$(function(){
 			remove_items_from_cart();
		})
</script>

<!-- вывод информации о заказае -->
<h2>Информация о заказе №<%= @o.id %></h2>
<table class="table">
  <tbody>
  	<tr>
  		<th>Ф.И.О.</th>
  		<td><%= @o.name %></td>
  	</tr>
  	<tr>
  		<th>Телефон</th>
  		<td><%= @o.phone %></td>
  	</tr>
  	<tr>
  		<th>Адрес</th>
  		<td><%= @o.addres %></td>
  	</tr>
  	<tr>
  		<th>Комментарий</th>
  		<td><%= @o.comment %></td>
  	</tr>
  	<tr>
  		<th>Заказано</th>
  		<td><%= @o.products %></td>
  	</tr>
    <tr>
      <th>На сумму, грн.</th>
      <td><%= "%6.2f" % @o.sum %></td>
    </tr>
  </tbody>
</table>
<p>В ближайшее время наш менеджер свяжется с Вами для подтверждения заказа.</p>
<a class="btn btn-primary" href="/" role="button">Вернуться</a>
