<h1>Список заказов:</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Дата/время</th>
			<th>№ заказа</th>
			<th>ФИО</th>
			<th>Телефон</th>
			<th>Заказ</th>
			<th>На сумму</th>
			<th>Комментарий</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |item| %>
			<tr>
				<td>
					<%= item.created_at %>
				</td>
				<td>
					<%= item.id %>
				</td>
				<td>
					<%= item.name %>
				</td>
				<td>
					<%= item.phone %>
				</td>
				<td>
					<%= item.products %>
				</td>
				<td>
					<%= "%6.2f" % item.sum %> грн.
				</td>
				<td>
					<%= item.comment %>
				</td>
			</tr>
		<% end %>
	</tbody>	
</table>

<form class="form-horizontal" method="POST" action="/del_orders">
  	<button type="submit" class="btn btn-danger">Очистить список заказов</button>
  	<a class="btn btn-primary" href="/" role="button">Вернуться</a>
</form>
